* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*Header Style Start*/
header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}
header h1 {
    display: inline;
    font-size: 48px;
}
header span {
    color: #d9dcd6;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}
header nav ul li {
    display: inline;
    margin-left: 25px;
}
header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}
/*Header Style End*/
/*Hero*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*online services style start*/
.services{
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
.service{
    background-color:#0072bb;
    color:#ffffff;
    margin-bottom:20px;
    height:300px;
    padding:50px;
    overflow:auto;
}
.service img{
    width:35%;
    float:left;
    height:100%;
}
.service-info{
    width: 65%;
    float:left;
    padding:0 20px;
}
.service-info h2{
    font-size: 36px;
    margin-bottom:20px;
}
.service-info p {
    font-size: 14px;
}
/*online services style end*/
/*Benefit style start*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*benefit style end*/

/*footer style start*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
/*footer style end*/